/*countries*/
.countries{
  list-style: none;
  padding: 0;
  background-color: #2f3d45;
}
.row--first{
  padding: 10px 15px;
  cursor: pointer;
}
.row--first:hover{
  background: rgba(255,255,255, .2);
}

.name{
  padding: 0 0 0 10px;
}
.countries-module{
  display: none;
  transform: scale(1,0);
}
.countries-module.active{
  display: block;
  animation-name: scale-menu;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

