<ul class="countries">
  <li class="countries__item" *ngFor="let item of _countries; let i = index">
    <div class="row row--first" (click)="show(i)">
      <div class="col-xs-8">
        <div class="name">{{item.name}}</div>
      </div>
      <div class="col-xs-4">{{item.total}}</div>
    </div>
    <div class="row row--second countries-module">
      <div class="col-xs-12">
        <tz-leagues class="module" [_leagues]="item.leagues">loading...</tz-leagues>
      </div>
    </div>
  </li>
</ul>
