<table class="table table-bordered">
  <thead>
  <tr>
    <th class="date col-xs-2">Date</th>
    <th class="pair col-xs-2">Pair</th>
    <th class="other col-xs-1" *ngFor="let item of _thead">{{item.name}}</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of _matches">
      <td class="date col-xs-2">{{item.sd}}</td>
      <td class="pair col-xs-2"><span class="long-text">{{item.h}} - {{item.a}}</span></td>
    <!--3way-->
      <td class="other col-xs-1" *ngFor="let element of item.odds['3way']">{{element.value}}</td>
      <td class="other col-xs-1" *ngIf="!item.odds['3way']">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds['3way']">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds['3way']">-</td>
    <!--bothToScore-->
      <td class="other col-xs-1" *ngFor="let element of item.odds.bothToScore">{{element.value}}</td>
      <td class="other col-xs-1" *ngIf="!item.odds.bothToScore">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds.bothToScore">-</td>
    <!--doubleChance-->
      <td class="other col-xs-1" *ngFor="let element of item.odds.doubleChance">{{element.value}}</td>
      <td class="other col-xs-1" *ngIf="!item.odds.doubleChance">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds.doubleChance">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds.doubleChance">-</td>
    <!--drawNoBet-->
      <td class="other col-xs-1" *ngFor="let element of item.odds.drawNoBet">{{element.value}}</td>
      <td class="other col-xs-1" *ngIf="!item.odds.drawNoBet">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds.drawNoBet">-</td>
    <!--totalGoals-->
      <td class="other col-xs-1" *ngFor="let element of item.odds.totalGoals">{{element.value}}</td>
      <td class="other col-xs-1" *ngIf="!item.odds.totalGoals">-</td>
      <td class="other col-xs-1" *ngIf="!item.odds.totalGoals">-</td>
    </tr>
  </tbody>
</table>
