/*tree*/
.tree{
  width: 257px;
  background-color: #263238;
  list-style: none;
  padding: 0;
}
.tree__item{
  color: #fff;
}


.row--first{
  padding: 10px 15px;
  cursor: pointer;
}
.row--first:hover{
  background: rgba(255,255,255, .3);
}

.tree-module{
  display: none;
  transform: scale(1,0);

}
.tree-module.active{
  display: block;
  animation-name: scale-menu;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@media (min-width: 992px){
  .tree{
    width: 305px;
  }
}
@media (min-width: 1200px){
  .tree{
    width: 348px;
  }
}
