<ul class="tree">
  <li class="tree__item" *ngFor="let item of _tree?.data; let i = index" [ngClass]="'tree__item--'+i">
    <div class="row row--first" (click)="show(i)">
      <div class="col-xs-8">{{item.name}}</div>
      <div class="col-xs-4">{{item.total}}</div>
    </div>
    <div class="row row--second tree-module">
      <div class="col-xs-12">
        <tz-countries  [_countries]="item.countries" [_parent] = "'.tree__item--'+i">loading...</tz-countries>
      </div>
    </div>
  </li>
</ul>
