.leagues{
  list-style: none;
  padding: 0;
  background-color: #354650;
}
.row--first{
  padding: 10px 15px;
  cursor: pointer;
}
.row--first:hover{
  background: rgba(255,255,255, .1);
}
.name{
  padding: 0 0 0 20px;
}
