<ul class="leagues">
  <li class="leagues__item" *ngFor="let item of _leagues; let i = index">
    <div class="row row--first" (click)="getMatches(i)">
      <div class="col-xs-8">
        <div class="name">{{item.name}}</div>
      </div>
      <div class="col-xs-4">{{item.total}}</div>
    </div>
  </li>
</ul>
