<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <tz-tree>loading...</tz-tree>
    </div>
    <div class="col-xs-8">
      <tz-grid>loading...</tz-grid>
    </div>
  </div>
</div>


